<div class="container">
    <div class ="row">
      <div class="project-boundry">
        <p class="text-left custom-header"><%= @project.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 project-boundry-section">
        <h4 class="text-center">Project Details</h4>
      </div>
      <div class="col-md-4 project-boundry-section">
        <h4 class="text-center">Developer Section</h4>
      </div>
      <div class="col-md-4 project-boundry-section">
        <h4 class="text-center">Task Details</h4>
      </div>
    </div>
  </div>

